src/logic-app-sub/FCD01/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Call_an_Azure_function": {
                "inputs": {
                    "body": "@body('Parse_JSON')",
                    "function": {
                        "connectionName": "functionAppJob"
                    },
                    "method": "POST"
                },
                "runAfter": {
                    "Initialize_variable": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {
                    "CalledIMSI": "@triggerBody()['userProperties']['calledIMSI']",
                    "CallingIMSI": "@triggerBody()['userProperties']['callingIMSI']",
                    "InterfaceId": "ID_FCD01",
                    "MSRN": "@triggerBody()['userProperties']['msrn']",
                    "MessageId": "@triggerBody()['userProperties']['messageId']"
                },
                "type": "Function"
            },
            "HTTP": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://www.google.com"
                },
                "runAfter": {
                    "Call_an_Azure_function": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "trackedProperties": {
                    "CalledIMSI": "@triggerBody()['userProperties']['calledIMSI']",
                    "CallingIMSI": "@triggerBody()['userProperties']['callingIMSI']",
                    "InterfaceId": "ID_FCD01",
                    "MSRN": "@triggerBody()['userProperties']['msrn']",
                    "MessageId": "@triggerBody()['userProperties']['messageId']"
                },
                "type": "Http"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "MyVariable",
                            "type": "boolean",
                            "value": true
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {
                    "CalledIMSI": "@triggerBody()['userProperties']['calledIMSI']",
                    "CallingIMSI": "@triggerBody()['userProperties']['callingIMSI']",
                    "InterfaceId": "ID_FCD01",
                    "MSRN": "@triggerBody()['userProperties']['msrn']",
                    "MessageId": "@triggerBody()['userProperties']['messageId']"
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@triggerBody()?['contentData']",
                    "schema": {
                        "properties": {
                            "CallPeriod": {
                                "type": "integer"
                            },
                            "CalledCellID": {},
                            "CalledIMSI": {
                                "type": "string"
                            },
                            "CalledNum": {},
                            "CalledNum2": {},
                            "CallingCellID": {},
                            "CallingIMSI": {
                                "type": "string"
                            },
                            "CallingNum": {},
                            "DateS": {
                                "type": "string"
                            },
                            "EventEnqueuedUtcTime": {
                                "type": "string"
                            },
                            "EventProcessedUtcTime": {
                                "type": "string"
                            },
                            "FCIFlag": {},
                            "FileNum": {
                                "type": "string"
                            },
                            "IncomingTrunk": {},
                            "MSRN": {
                                "type": "string"
                            },
                            "OutgoingTrunk": {
                                "type": "string"
                            },
                            "PartitionId": {
                                "type": "integer"
                            },
                            "RecordType": {
                                "type": "string"
                            },
                            "ServiceType": {
                                "type": "string"
                            },
                            "SwitchNum": {
                                "type": "string"
                            },
                            "SystemIdentity": {
                                "type": "string"
                            },
                            "TimeS": {},
                            "TimeType": {
                                "type": "integer"
                            },
                            "Transfer": {
                                "type": "integer"
                            },
                            "callrecTime": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {},
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "When_messages_are_available_in_a_queue": {
                "inputs": {
                    "parameters": {
                        "isSessionsEnabled": false,
                        "queueName": "fcd01"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']",
                "splitOnConfiguration": {
                    "correlation": {
                        "clientTrackingId": "@triggerBody()['userProperties']['messageId']"
                    }
                },
                "type": "ServiceProvider"
            }
        }
    },
    "kind": "Stateful"
}